<% if can? :manage, @tickets %>
<h1>Tickets</h1>

<table border = "1">
  <tr>
    <th>Id</th>
    <th>Passenger Name</th>
    <th>Passenger Mobile</th>
    <th>Bus Number</th>
    <th>Route Name</th>
    <th>Seats</th>
    <th>Total Price</th>
    <th>Actions</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.id %></td>
      <td><%= ticket.user.name %></td>
      <td><%= ticket.user.phone %></td>
      <td><%= ticket.bus.name %></td>
      <td><%= ticket.trip.route.name %></td>
      <td>
        <% ticket.seats.each do |seat| %>
          <%= seat.name %>
          ,
        <% end %>
      </td>
      <td><%= ticket.total_fare %></td>
      <td>
      <%= link_to "Delete", ticket_path(ticket), data:{
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>

<br>
<%= link_to "Book A Ticket", select_trip_path %>
