<h1>Routes</h1>

<table border = "2">
  <tr>
    <th>Id</th>
    <th>Route Name</th>
    <th>Route Source</th>
    <th>Route Destination</th>
    <% if can? :manage, @routes %>
      <th>Details</th>
    <% end %>
    
  </tr>
  <% @routes.each do |route| %>
    <tr>
      <td><%= route.id %></td>
      <td><%= route.name %></td>
      <td><%= route.source %></td>
      <td><%= route.destination %></td>
      <% if can? :manage, @routes %>
        <td><%= link_to "view", route %></td>
      <% end %>
      
    </tr>
  <% end %>

</table>
<br>
<% if can? :manage, @routes %>
  <%= link_to "Create New Route", new_route_path  %>
<% end %>

