<%= form_with model: bus do |f| %>
  <div>
    <%= f.label :bus_name %>
    <%= f.text_field :bus_name %>
    <% bus.errors.full_messages_for(:bus_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :bus_type %>
    <%= f.select :bus_type,["AC","NON-AC"] %>
  </div>
  <div>
    <%= f.label :bus_brand %>
    <%= f.text_field :bus_brand %>
    <% bus.errors.full_messages_for(:bus_brand).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :bus_capacity %>
    <%= f.number_field :bus_capacity %>
    <% bus.errors.full_messages_for(:bus_capacity).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>