<h1>Buses</h1>

<table border = "2">
  <tr>
    <th>ID</th>
    <th>Bus Name</th>
    <th>Bus Type</th>
    <th>Bus Brand</th>
    <th>Bus Capacity</th>
    <% if can? :manage, @buses %>
    <th>Details</th>
    <% end %>

  </tr>

  <% @buses.each do |bus| %>
    <tr>
      <td><%= bus.id %></td>
      <td><%= bus.name %></td>
      <td><%= bus.typed %></td>
      <td><%= bus.brand %></td>
      <td><%= bus.capacity %></td>
      <% if can? :manage, @buses %>
        <td><%= link_to "view", bus %></td>
      <% end %>
      
    </tr>
  <% end %>
</table>
<br>

<% if can? :manage, @buses %>
  <%= link_to "Create New Bus", new_bus_path %>
<% end %>


